<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myselfapps.rav.slovarik" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Dictionary_activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Verbs_activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_verbs"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".AddNewWord_activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_add_new_word_activity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ViewWord_activity"
            android:label="@string/title_activity_view_word"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".EditWord_activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_edit_word_activity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".PhrasesDictionary_activity"
            android:label="@string/title_activity_phrases_dictionary_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".AddNewPhrase_activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_add_new_phrase_activity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ViewPhrase_activity"
            android:label="@string/title_activity_view_prase"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".EditPhrase_activity"
            android:label="@string/title_activity_edit_phrase_activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
